/*
Theme Name: jcos.io
Description: Personal site Child Theme for the Beans Theme.
Author: John Cosio
Author URI: http://jcos.io
Template: tm-beans
Version: 1.0.0
Text Domain: tm-beans
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* general */
html {
    color: #ccc;
    font: 16px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body.custom-background {
    background-attachment: fixed;
    background-image: url("http://localhost/www/jcos.io/wp-content/uploads/2016/08/sudobg1.jpg");
    background-position: center top;
    background-repeat: no-repeat;
}

a, .uk-link {
    color: #f2f2f2;
	text-decoration: underline;
}

a:hover, .uk-link:hover {
    color: #b99128;
    text-decoration: underline;
	transition: all 0.5s ease 0s;
}

.uk-button-primary {
    background-color: #000;
    color: #fff;
}

.uk-button-primary:hover, .uk-button-primary:focus {
    background-color: #b99128;
    color: #fff;
}

/* header */
.tm-header {
    border-bottom: 0 none;	
    padding-bottom: 0px;
}

.tm-site-branding, .tm-site-branding a {
    color: #fff;
    font-size: 34px;
	text-shadow: 1px 1px 1px #b99128;
}

.tm-site-branding.uk-float-left > a:hover {
    text-decoration: none;
}

.uk-text-small {
    color: #fff !important;
    font-size: 14px;
}

/* navigation */
.uk-navbar-nav > li.uk-active > a {
    color: #fff;
	border-bottom: 2px solid #b99128;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.uk-navbar-nav > li > a {
    color: #ccc;
    font-size: 18px;
	transition: all 0.5s ease 0s;
}

.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a {
    color: #fff;
	border-bottom: 2px solid #b99128;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	transition: none;
}

/* body */
.tm-main {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ccc;
}

.uk-article-title {
    color: #fff;
}

.uk-panel-box {
    background: rgba(32, 32, 32, 0.7);
    color: #ccc;
	//opacity: 0.8;
	border-radius: 25px;
}

/* blog page */
.uk-subnav > * > * {
    color: #fff !important;
    display: inline-block;
}

.uk-article-meta {
    color: #999
}

.uk-article-meta a {
    color: #fff !important;
    text-decoration: underline;
}

.uk-article-meta a:hover {
    color: #b99128 !important;
    text-decoration: underline;
}

.tm-article-image {
    text-align: center;
}

/* pagination */
.uk-pagination > .uk-active > span {
    background: #b99128 none repeat scroll 0 0;
    color: #fff;
}

.uk-pagination > li > a {
    background: #000 none repeat scroll 0 0;
    color: #fff;
}

.uk-pagination > li > a:hover, .uk-pagination > li > a:focus {
    background-color: #b99128;
    color: #fff;
    outline: medium none;
}

/* sidebar */
.uk-panel-title {
    color: #fff;
}

.tm-widget a, .tm-widget.uk-link {
    color: #bbb;
	text-decoration: none;
}

.tm-widget a:hover, .tm-widget.uk-link:hover {
    color: #b99128;
	text-decoration: none;
}

/* footer */
.tm-footer {
    border-top: 0 none;
	padding-top: 0px;
}

/* footer menu */
footer .menu li {
    display: inline;
    margin-right: 15px;
}

footer .menu li a{
    text-decoration: none;
}